<%- include('./partials/header') %>
    <section class="booking-section">
        <div class="booking-us">
            <h1>BOOK A TABLE</h1>
            <img src="/img/angle2.png" alt="">
            <form action="" class="booking-form">
                <input type="text" placeholder="Name">
                <input type="Email" placeholder="Email">
                <input type="text" placeholder="Phone">
                <input type="number" max="15" min="1" placeholder="People">
                <input type="text" placeholder="Date(mm/dd)">
                <input type="time" placeholder="Time">
            </form>
            <button class="book">BOOK NOW</button>
        </div>
        <div class="booking-img">

            <img src="/img/img.png" alt="">
        </div>
    </section>
    <%- include('./partials/footer') %>