<%- include('./partials/header') %>
    <section class="contact-section">
        <article class="contact-div">
            <h1>CONTACT</h1>
            <img src="/img/angle2.png" alt="">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor
                magna.</h3>

        </article>
        <form action="" class="contact-form">
            <input type="text" placeholder="Name">
            <input type="Email" placeholder="Email">
            <input type="text" placeholder="Phone">
            <textarea name="" id="" cols="30" rows="10" placeholder="">Message</textarea>

        </form>
        <article class="contact-text">
            <p class="london">5th London Boulevard, U.K.</p>
            <p class="number">+40 729 131 637/+40 726 458 782</p>
            <p class="email">office@mindblister.com</p>
            <button class="MESSAGE">SEND MESSAGE </button>




        </article>

    </section>
    <%- include('./partials/footer') %>