<%- include('./partials/header') %>
    <section class="event-section">
        <h4> PRIVATE EVENTS</h4>
        <article class="event-div">
            <div class="event-img">
                <img src="/img/3.png" alt="">
            </div>
            <div class="event-img2">
                <img src="/img/32.png" alt="">
            </div>


        </article>
        <p>For private events please call: +40 729 131 637/+40 726 458 782 or use the contact form.</p>
    </section>
    <%- include('./partials/footer') %>