<%- include('./partials/header') %>

    <section class="GALLERY-section">
        <h4> specialties</h4>
        <article class="GALLERY-div">
            <div class="GALLERY-img">
                <img src="/img/20.png" alt="">
            </div>
            <div class="GALLERY-text">
                <h1>chocolate pancakes</h1>
                <img src="/img/angle2.png" alt="">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a,
                    tempor
                    magna.</h3>
                <p>Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula.
                    Sed
                    dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem.
                    Mauris
                    tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
            </div>


        </article>

    </section>
    <%- include('./partials/footer') %>