<%- include('./partials/header') %>
    <section class="about-section">
        <div class="about-us">
            <h1>ABOUT US</h1>
            <img src="/img/angle2.png" alt="">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor
                magna.</h3>
            <p>Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed
                dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris
                tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
        </div>
        <div class="about-img">

            <img src="/img/22.png" alt="">
        </div>

    </section>

    <%- include('./partials/footer') %>