<%- include('./partials/header') %>
    <section class="menu-section">
        <article class="menu-div">
            <h1>DELICIOUS MENU</h1>
            <img src="/img/angle2.png" alt="">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor
                magna.</h3>
            <article class="menu-list">
                <h5 class="menu-h5"><a href="">SOUP</a> </h5>
                <h5 class="menu-h5"><a href="">PIZZA</a></h5>
                <h5 class="menu-h5"><a href="">PASTA</a></h5>
                <h5 class="menu-h5"><a href="">DESSERT</a></h5>
                <h5 class="menu-h5"><a href="">WINE</a></h5>
                <h5 class="menu-h5"><a href="">BEER</a></h5>
                <h5><a href="">DRINKS</a></h5>
            </article>
        </article>
        <article class="menu-forEach">

        </article>

    </section>
    <%- include('./partials/footer') %>