<%- include('./partials/header') %>
    <section class="team-section">
        <h4>OUR TEAM</h4>
        <article class="team-div">
            <div class="team-img">
                <img src="/img/23.png" alt="">
            </div>
            <div class="team-text">
                <h1>MASTER CHEF</h1>
                <img src="/img/angle2.png" alt="">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a,
                    tempor
                    magna.</h3>
                <p>Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula.
                    Sed
                    dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem.
                    Mauris
                    tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
            </div>


        </article>

    </section>
    <%- include('./partials/footer') %>